@import url("hover.css");
body
{
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin: 0 auto; 
	background-color: #333333;
    
}

iframe, iframe>* {
	overflow: hidden;
}
a{
	text-decoration:none;
}
.blog{
	width: 90%;
	margin-left: 6%;
	padding-top: 30px;
}
.oculto{
	display: none;
}
.Principal{
	float: left;
	width: 70%;
	height: auto; 
	margin-right: 20px;
	margin-left: 20px; 
}
.headerImg
{
	width: 100%;
	height: auto;
	/*margin: 0 auto; */
}

/*BANNER PATROCINIO*/
.bPat{
	background-image: url(../images/banners/backpatrocinio.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
#topBan img{
	width: 100%;
}
/*PROGRAMACION*/
.Prog{
	/*padding-top: 9%;*/
	text-align: center;
	color: #FFF;
	cursor: pointer;
}
.progArt{
	float: left;
	width: 30%;
	vertical-align: sub;
	/*padding-top: 2%;*/
	padding-left: 20px;
}
.progDesc{
	padding-top:8%;
}
.artProg{
	margin-top: 10%;
	color: #fff;
}
.artProg img{
	float:left;
	width: 30%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}
.artProg p{
text-align: justify;
padding-right: 5%;
}
.MainProg{
	padding:1%;
	background: #3C3C3C;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 95%;
	margin-top: 30px;
}
#headProg{
	text-align: center;
}
#prog-cont{
	background-image: url(../images/back_programacion.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-left: 8%;
	padding-top: 6%;
	padding-bottom: 6%;
}

.noticias{
	margin:0 auto;
	text-align: center;
}

.col-3{
	width: 31%;
	display: inline-block;
	padding-right: 1%;
}
.col-3 img{
	width: 90%;
}

/*videos*/
.videos{
	background-color: #000000;
	float: left;
	margin-top: 20px;
	width: 50%;
}
.thumbVideos {
	margin: 0 auto;
	text-align: center;
}
.thumbVideos img{
	margin-top: 35px;
}

/*musica nueva*/
.musica{
	float: left;
	width: 50%;
}
#musicaNueva{
	position: relative;
	top: 15px;
	z-index: 8;
	left: 20px;
}

.mnPrin{
	position: relative;
	top: -46px;
	left: 20px;
}
#MNotros{
	position: relative;
	top:-20px;
}
.galery{
	width: 100%;
}
/*SECCION ANUNCIOS*/
#date_time{
	margin-top: 20px;
	color: #FFF;
	font-family: sans-serif, Arial;
	font-size: 15px;
}
.anuncios{
	background: #6b0a0c;
	width: 25%;
	float: left;
	margin: 0 auto;
	text-align: center;
}
.anun-1 img
{
	width: 100%;
	margin-top:20px;
}

.redes{
	margin-top: 20px;
}

#twitter{
	width: 95%;
	margin: 0 auto;
	padding-top: 20px; 
}

#chat{
	margin-top: 20px;
}
/*SLOGAN*/

.slogan img{
	width: 100%;
}
/*menu*/
nav ul li
{
display: inline-block;
margin-right: 40px;
cursor: pointer;

}
#contenido
{
	width: 100%;
	background-color: #333333;
}
/*MI FARMACIA*/
.searchEng{
	width: 100%;
	text-align: center;
	color: rgb(255, 255, 255);
	background-color: rgb(60, 60, 60);
	border-radius: 20px;
	margin-top: 30px;
	cursor: pointer;
}

/*Animations*/
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0.7;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0.7;
  }
}

.flash {
  -webkit-animation-name: flash;
          animation-name: flash;
}
.on-air{
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

/*Audio*/

#audio-player{
	width: 100%;
}