body
{
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin: 0 auto; 
	background-color: #333333;
    
}

.Principal{
	float: left;
	width: 70%;
	height: auto; 
	margin-right: 20px;
	margin-left: 20px; 
}
.headerImg
{
	width: 100%;
	height: auto;
	/*margin: 0 auto; */
}

/*BANNER PATROCINIO*/
.bPat{
	background-image: url(../images/banners/backpatrocinio.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
#topBan img{
	width: 100%;
}
/*PROGRAMACION*/

#headProg{
	text-align: center;
}
#prog-cont{
	background-image: url(../images/back_programacion.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-left: 8%;
	padding-top: 6%;
	padding-bottom: 6%;
}

.noticias{
	margin:0 auto;
	text-align: center;
}

.col-3{
	width: 31%;
	display: inline-block;
	padding-right: 1%;
}
.col-3 img{
	width: 90%;
}

/*videos*/
.videos{
	background-color: #000000;
	float: left;
	margin-top: 20px;
	width: 50%;
}
.thumbVideos {
	margin: 0 auto;
	text-align: center;
}
.thumbVideos img{
	margin-top: 35px;
}

/*musica nueva*/
.musica{
	float: left;
	width: 50%;
}
#musicaNueva{
	position: relative;
	top: 15px;
	z-index: 8;
	left: 20px;
}

.mnPrin{
	position: relative;
	top: -46px;
	left: 20px;
}
#MNotros{
	position: relative;
	top:-20px;
}
.galery{
	width: 100%;
}
/*SECCION ANUNCIOS*/
.anuncios{
	background: #6b0a0c;
	width: 25%;
	float: left;
	margin: 0 auto;
	text-align: center;
}
.anun-1 img
{
	width: 100%;
	margin-top:20px;
}

.redes{
	margin-top: 20px;
}

#twitter{
	width: 95%;
	margin: 0 auto;
	padding-top: 20px; 
}

#chat{
	margin-top: 20px;
}
/*SLOGAN*/

.slogan img{
	width: 100%;
}
/*menu*/
nav ul li
{
display: inline-block;
margin-right: 40px;
cursor: pointer;

}
#contenido
{
	width: 100%;
	background-color: #333333;
}