<!DOCTYPE html>
<html lang="es" ng-app="conektaApp" >
<head>
	<meta charset="UTF-8">
	<title>Ruteo de angular</title>
	<style>
		* {
			border: 0;
			margin: 0;
			padding: 0;
		}
		html, body {
			height: 100%;
			width: 100%;
		}
		section {
			height: 100%;
			width: 100%;
		}
		footer {
			bottom: 0;
			height: 79px;
			left: 10%;
			position: fixed;
    		overflow: hidden;
    		width: 100%;
		}
		iframe, iframe>* {
			overflow: hidden;
		}
		.headerImg, section, footer {
			max-width: 80%;
			display: block;
			margin: auto;
		}
	</style>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<!-- angular -->
	<script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-route.min.js"></script>
	<script>
		var app = angular.module('conektaApp', ['conektaRoutes']);
		app.controller('conektaController', function () {
			var vm = this;
			vm.secciones = [
				{
					ruta :'#/',
					texto : 'Inicio'
				},
				{
					ruta :'#programacion',
					texto : 'Programación'
				},
				{
					ruta :'#noticias',
					texto : 'Noticias'
				}
			];
		});

		angular.module('conektaRoutes', ['ngRoute'])
			.config(function ($routeProvider, $locationProvider) {
				// $locationProvider.hashPrefix('!#');
				$routeProvider
					.when('/',{
						templateUrl : 'inicio.html'
					})
					.when('/programacion',{
						templateUrl : 'programacion.html'
					})
					.when('/noticias',{
						templateUrl : 'noticias.html'
					})
			})
	</script>
</head>
<body>
	<img class="headerImg" src="images/head.jpg" alt="">
	<section ng-controller="conektaController as conekta">
		<ul class="nav nav-pills">
			<li role="presentation" ng-repeat="seccion in conekta.secciones">
				<a ng-href="{{seccion.ruta}}">{{seccion.texto}}</a>
			</li>
		</ul>
		<div class="jumbotron" ng-view>

		</div>
	</section>
	<footer>
		<iframe src="http://player.inimusic.com/mashter/player/webplayershoutcast/6/5039ddb01ceca2f6494446d610d3229c.html" frameborder="0" allowfullscreen></iframe>
	</footer>
</body>
</html>